* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background:white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.container {
  background: rgba(0, 0, 0, 0.35);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

h1 {
  margin-bottom: 15px;
  font-size: 28px;
}

p {
  font-size: 16px;
  opacity: 0.9;
}

.badge {
  margin: 20px auto;
  padding: 10px;
  width: fit-content;
  background: #22c55e;
  color: #022c22;
  font-weight: bold;
  border-radius: 5px;
}

footer {
  margin-top: 25px;
  font-size: 13px;
  opacity: 0.7;
}
